* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #daf9b4;
  color: #fff;
  line-height: 1.6;
  margin-top: 1.5rem;

  background-image: url('background-image3.png');

  background-size: cover;       /* scales the image to fill the screen */
  background-repeat: no-repeat; /* prevents tiling */
  background-position: center;  /* centers the image */
  background-attachment: fixed; /* makes the image stay in place when scrolling */
  color: white;                 /* optional: makes text visible if image is dark */

}


.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
}


#download-button {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 8px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

#download-button:hover {
  background-color: #00aacc;
  transition: background-color 0.3s ease;
}


h1 {
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.3rem 1.3rem;
  border-radius: 15px;
  text-align: center;
  gap: 1.5rem;

  color: white;
}

.content #game_pic {
  max-width: 40%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.content #game_pic:hover {
  transform: scale(1.03);
}

.button-group {
  display: flex;
  gap: 20px; /* space between buttons */
  margin-top: 20px;
  flex-wrap: wrap;
}

.github-button,
.news-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.github-button {
  background-color: #24292e;
  color: white;
}

.github-button:hover {
  background-color: #444;
  border-color: white;
}

.github-logo {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  filter: invert();
}

.news-button {
  background-color: #0056b3;
  color: white;
}

.news-button:hover {
  background-color: #003d80;
}

.arrow-button {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  filter: invert()
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .content {
    padding: 1rem;
    gap: 1rem;
  }

  .content #game_pic {
    max-width: 90%;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .github-button,
  .news-button {
    /* width: 90%; */
    justify-content: center;
    font-size: 1rem;
    padding: 12px 14px;
  }

  .github-button {
    padding: 12px 20px;
  }

  .news-button {
    font-size: .8rem;
  }

  .github-logo {
    height: 20px;
    width: 20px;
  }

  .arrow-button {
    height: 16px;
    width: 16px;
  }
}